flows.json
[
    {
        "id": "5bd5e23aadd26b8d",
        "type": "tab",
        "label": "Set GeoIP ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6b2035a9.ca9f5c",
        "type": "tab",
        "label": "Pub/Sub Perf Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "$(HOSTNAME)",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/docker/clientstate/connect",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/docker/clientstate/close",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/docker/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "TLS Config",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "$(HOSTNAME)",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "aca27d4c.6ea5a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo-na.mqtttest.com",
        "port": "8883",
        "tls": "a4089a2e.e45d68",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": 4,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/MAAPx/clientstate/connect",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "closeTopic": "demo/MAAPx/clientstate/close",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "willTopic": "demo/MAAPx/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)"
    },
    {
        "id": "791e80b3.11014",
        "type": "ui_group",
        "name": "Latency",
        "tab": "a06ddef.76e0f2",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "a4089a2e.e45d68",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "a06ddef.76e0f2",
        "type": "ui_tab",
        "name": "Latency",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d6b1235d64c73002",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2280f0fe.38e8e",
        "type": "http request",
        "z": "5bd5e23aadd26b8d",
        "name": "Lookup public IP address",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "wgetip.com",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 210,
        "y": 140,
        "wires": [
            [
                "6d6e68ee.4521e8"
            ]
        ]
    },
    {
        "id": "6d6e68ee.4521e8",
        "type": "template",
        "z": "5bd5e23aadd26b8d",
        "name": "Format GeoIP Lookup",
        "field": "url",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "http://ip-api.com/json/{{payload}}",
        "output": "str",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "bec661d5.81376"
            ]
        ]
    },
    {
        "id": "bec661d5.81376",
        "type": "http request",
        "z": "5bd5e23aadd26b8d",
        "name": "GeoIP Lookup",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 180,
        "y": 220,
        "wires": [
            [
                "fff7a75a.2f5218"
            ]
        ]
    },
    {
        "id": "fff7a75a.2f5218",
        "type": "change",
        "z": "5bd5e23aadd26b8d",
        "name": "Set Global Variables ",
        "rules": [
            {
                "t": "set",
                "p": "regionName",
                "pt": "global",
                "to": "payload.regionName",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "countryCode",
                "pt": "global",
                "to": "payload.countryCode",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "org",
                "pt": "global",
                "to": "payload.org",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 260,
        "wires": [
            [
                "84073e45.1a5"
            ]
        ]
    },
    {
        "id": "84073e45.1a5",
        "type": "template",
        "z": "5bd5e23aadd26b8d",
        "name": "Format iplocation file",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\"regionName\":\"{{payload.regionName}}\",\"countryCode\":\"{{payload.countryCode}}\",\"org\":\"{{payload.org}}\"}",
        "output": "str",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "d6e714be.cc9d48"
            ]
        ]
    },
    {
        "id": "d6e714be.cc9d48",
        "type": "file",
        "z": "5bd5e23aadd26b8d",
        "name": "write iplocation file to disk ",
        "filename": "/data/iplocation",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 210,
        "y": 340,
        "wires": [
            [
                "316b8d06d6a87ed8"
            ]
        ]
    },
    {
        "id": "27622c68909fd703",
        "type": "inject",
        "z": "5bd5e23aadd26b8d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "2280f0fe.38e8e"
            ]
        ]
    },
    {
        "id": "316b8d06d6a87ed8",
        "type": "debug",
        "z": "5bd5e23aadd26b8d",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "f26ca21.902e66",
        "type": "inject",
        "z": "6b2035a9.ca9f5c",
        "name": "Inject every second",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 200,
        "wires": [
            [
                "fab80017.7942b"
            ]
        ]
    },
    {
        "id": "6267bed2.9eb7e",
        "type": "function",
        "z": "6b2035a9.ca9f5c",
        "name": "Add current epoch timestamp ",
        "func": "msg.payload.time = Date.now() \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 190,
        "y": 280,
        "wires": [
            [
                "57e94275.f8172c"
            ]
        ]
    },
    {
        "id": "57e94275.f8172c",
        "type": "mqtt out",
        "z": "6b2035a9.ca9f5c",
        "name": "publish to EdgeConnect",
        "topic": "$(DATATOPICPATH)",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 170,
        "y": 320,
        "wires": []
    },
    {
        "id": "648fdca2.9de5c4",
        "type": "mqtt in",
        "z": "6b2035a9.ca9f5c",
        "name": "Listen for Publish Messages",
        "topic": "demo/latency/docker/publish",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 460,
        "wires": [
            [
                "958e594e.3c2e08"
            ]
        ]
    },
    {
        "id": "958e594e.3c2e08",
        "type": "function",
        "z": "6b2035a9.ca9f5c",
        "name": "Calculate Time Difference ",
        "func": "var now = Date.now();\nvar then = msg.payload.time;\nmsg.payload.latency = now - then;\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "x": 170,
        "y": 520,
        "wires": [
            [
                "4054b25f.85648c"
            ]
        ]
    },
    {
        "id": "fab80017.7942b",
        "type": "template",
        "z": "6b2035a9.ca9f5c",
        "name": "Extract Geo and Org info from global variables",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"publishregion\":\"{{global.regionName}}\",\"publishcountry\":\"{{global.countryCode}}\",\"publishorg\":\"{{global.org}}\"}",
        "output": "json",
        "x": 240,
        "y": 240,
        "wires": [
            [
                "6267bed2.9eb7e"
            ]
        ]
    },
    {
        "id": "4054b25f.85648c",
        "type": "change",
        "z": "6b2035a9.ca9f5c",
        "name": "Extract Geo Location from Global Variables",
        "rules": [
            {
                "t": "set",
                "p": "payload.regionName",
                "pt": "msg",
                "to": "regionName",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.countryCode",
                "pt": "msg",
                "to": "countryCode",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "payload.org",
                "pt": "msg",
                "to": "org",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 230,
        "y": 560,
        "wires": [
            [
                "e270e69d.557118",
                "676b2da5.b9cad4"
            ]
        ]
    },
    {
        "id": "dcfa11ab.24416",
        "type": "comment",
        "z": "6b2035a9.ca9f5c",
        "name": "Publisher",
        "info": "",
        "x": 130,
        "y": 160,
        "wires": []
    },
    {
        "id": "e270e69d.557118",
        "type": "mqtt out",
        "z": "6b2035a9.ca9f5c",
        "name": "publish results to Edge Connect",
        "topic": "$(RESULTSTOPICPATH)",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 190,
        "y": 600,
        "wires": []
    },
    {
        "id": "578b0ad2.ac3a24",
        "type": "comment",
        "z": "6b2035a9.ca9f5c",
        "name": "Subscriber",
        "info": "",
        "x": 130,
        "y": 400,
        "wires": []
    },
    {
        "id": "676b2da5.b9cad4",
        "type": "debug",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "b62bd419.f083e8",
        "type": "mqtt in",
        "z": "6b2035a9.ca9f5c",
        "name": "Listen for Results Messages",
        "topic": "$(RESULTSTOPICPATH)",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 180,
        "y": 700,
        "wires": [
            [
                "ae619366.faae2"
            ]
        ]
    },
    {
        "id": "fc5c087b.42fbd8",
        "type": "debug",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 760,
        "wires": []
    },
    {
        "id": "f6db8476.411bc8",
        "type": "ui_chart",
        "z": "6b2035a9.ca9f5c",
        "name": "Latency",
        "group": "791e80b3.11014",
        "order": 0,
        "width": "18",
        "height": "13",
        "label": "Latency is ms",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "x": 120,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "ae619366.faae2",
        "type": "template",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\"{{payload.publishregion}} {{payload.publishcountry}} {{payload.publishorg}} to {{payload.regionName}} {{payload.countryCode}} {{payload.org}}\"",
        "output": "str",
        "x": 120,
        "y": 740,
        "wires": [
            [
                "c0115425.79ecf8"
            ]
        ]
    },
    {
        "id": "c0115425.79ecf8",
        "type": "change",
        "z": "6b2035a9.ca9f5c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.latency",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 780,
        "wires": [
            [
                "f6db8476.411bc8",
                "fc5c087b.42fbd8"
            ]
        ]
    },
    {
        "id": "6181a7c7e16f3c60",
        "type": "comment",
        "z": "6b2035a9.ca9f5c",
        "name": "Results",
        "info": "",
        "x": 110,
        "y": 660,
        "wires": []
    }
]
